body {
    margin: 0 auto;
    padding: 0 auto;
}

h1 {
    text-align: center;
    font-size: 64px;
    font-style: italic;
    font-family: 'Brush Script MT', Georgia, 'Times New Roman', Times, serif;
}

h2 {
    text-align: center;
    font-style: italic;
    font-family: 'Brush Script MT', Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-size: 36px;
}

.card {
    padding: 10px;
    display: inline-block;
    text-align: center;
    margin: auto;
    background-color: antiquewhite;
    border-radius: 12px;

}

a{
    display: block;
    text-decoration: none;
    color: black;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    width: 300px;
    height: 220px;
}

.card_container {
    display: block;
    text-align: center;
    
}

.title {
    padding-top: 8px;
}